// $coral:#FF8D6B;
// $cultured:#EFEFF1;
// $white:#fff;
// $black:#000000;
// $black2:#070600;
$coral: #ff8d6bff;
$cultured: #efeff1ff;
$outrageousOrange: #ff6c47;
$black: #070600ff;
$citrine: #d8cc34ff;
$black-coral: #5c6672ff;
$white: #fff;
@font-face {
  font-family: "montserat";
  src: url("assets/Montserrat-Regular.otf");
}
@font-face {
  font-family: "bold";
  src: url("assets/Montserrat-SemiBold.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserat", sans-serif;
  display: flex;
  height: 100vh;
  background-color: $white;
  user-select: none;
}
header,
footer {
  background-color: $cultured;
}
header,
footer {
  height: 100vh;
}
header {
  flex-basis: 10%;
}
footer {
  flex-basis: 20%;
}
main {
  flex-basis: 70%;
  margin: 2rem 1rem 0;
}
img {
  width: 100%;
  height: auto;
}
header {
  padding: 1.63rem 1.63rem 0;
}
.d-flex {
  display: flex;
}
.justify-content-sp {
  justify-content: space-between;
}
.col {
  flex-direction: column;
}
.br-t-l {
  border-top-left-radius: 9px;
}
.br-t-r {
  border-top-right-radius: 9px;
}

.decorations {
  align-items: center;
  .icon {
    width: 150px;
    margin-block: 1.5rem;
  }
  .meal {
    width: 100px;
  }
}
ul {
  list-style-type: none;
}
.tabs {
  ul {
    text-align: center;
    li {
      background-color: $white;
      border-radius: 10px;
      width: 65px;
      margin: 0 auto;
      box-shadow: rgba(255, 98, 67, 0.4) 0px 0px 0px 2px,
        rgba(255, 98, 67, 0.65) 0px 4px 6px -1px,
        rgba(255, 98, 67, 0.08) 0px 1px 0px inset;
      a {
        display: block;
        padding: 0.5rem;
        font-family: "bold", sans-serif;
        color: $black;
        img {
          max-width: 45px;
        }
      }
    }
  }
}
.tabs {
  ul {
    li + li {
      margin-top: 1.63rem;
    }
  }
}
.active {
  background-color: $coral !important;
}
.active {
  a {
    color: $white !important;
  }
}

main {
  h1 {
    margin-bottom: 1rem;
  }
  .homeTable {
    height: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: scroll;
    ::-webkit-scrollbar-track {
      margin: 40px 0 0;
    }
  }
}
.salesTable {
}
.tfoot {
  background-color: $cultured;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 99%;

  tr {
    td {
      border: 0;
      padding: 10px;
      font-family: "bold", sans-serif;
    }
  }
}
table {
  border-collapse: collapse;
  text-align: left;
  border-spacing: 0;
  width: 100%;

  tr {
    height: 40px;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: $coral;
    height: 44px;

    th {
      font-family: "bold", sans-serif;
      padding: 10px;
      color: $white;
    }
  }
  tbody {
    td {
      padding: 10px;
      border-bottom: 1px solid $black-coral;
      //   border-bottom: 1px solid $black-coral;
      font-family: "montserat", sans-serif;
      font-size: 14px;
    }
    .orderID {
      font-family: "bold", sans-serif;
    }
  }
}

footer {
  padding: 1rem;
  h1 {
    font-size: 1.63rem;
    margin: 0rem 0 1rem;
  }

  ul {
    list-style-type: none;
    text-align: center;
    li {
      background-color: $white;
      color: #000000;
      font-family: "bold", sans-serif;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      letter-spacing: 5px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ff8d6b;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff8d6b;
}
::-webkit-scrollbar-track {
  background: #dbd6d4;
  margin: 40px 0 0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
