@font-face {
  font-family: "montserat";
  src: url("assets/Montserrat-Regular.otf");
}
@font-face {
  font-family: "bold";
  src: url("assets/Montserrat-SemiBold.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserat", sans-serif;
  display: flex;
  height: 100vh;
  background-color: #fff;
  user-select: none;
}

header,
footer {
  background-color: #efeff1ff;
}

header,
footer {
  height: 100vh;
}

header {
  flex-basis: 10%;
}

footer {
  flex-basis: 20%;
}

main {
  flex-basis: 70%;
  margin: 2rem 1rem 0;
}

img {
  width: 100%;
  height: auto;
}

header {
  padding: 1.63rem 1.63rem 0;
}

.d-flex {
  display: flex;
}

.justify-content-sp {
  justify-content: space-between;
}

.col {
  flex-direction: column;
}

.br-t-l {
  border-top-left-radius: 9px;
}

.br-t-r {
  border-top-right-radius: 9px;
}

.v-center {
  align-items: center;
}

.col-3 {
  grid-template-columns: repeat(2, minmax(10px, 1fr)) !important;
}

.decorations {
  align-items: center;
}
.decorations .icon {
  width: 150px;
  margin-block: 1.5rem;
}
.decorations .meal {
  width: 100px;
}

ul {
  list-style-type: none;
}

.tabs ul {
  text-align: center;
}
.tabs ul li {
  background-color: #fff;
  border-radius: 10px;
  width: 65px;
  margin: 0 auto;
  box-shadow: rgba(255, 98, 67, 0.4) 0px 0px 0px 2px, rgba(255, 98, 67, 0.65) 0px 4px 6px -1px, rgba(255, 98, 67, 0.08) 0px 1px 0px inset;
}
.tabs ul li a {
  display: block;
  padding: 0.5rem;
  font-family: "bold", sans-serif;
  color: #070600ff;
}
.tabs ul li a img {
  max-width: 45px;
}

.tabs ul li + li {
  margin-top: 1.63rem;
}

.active {
  background-color: #ff8d6bff !important;
}

.active a {
  color: #fff !important;
}

main h1 {
  margin-bottom: 1rem;
}
main .homeTable {
  height: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: scroll;
}
main .homeTable ::-webkit-scrollbar-track {
  margin: 40px 0 0;
}

.tfoot {
  background-color: #efeff1ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 99%;
}
.tfoot tr td {
  border: 0;
  padding: 10px;
  font-family: "bold", sans-serif;
}

table {
  border-collapse: collapse;
  text-align: left;
  border-spacing: 0;
  width: 100%;
}
table tr {
  height: 40px;
}
table thead {
  position: sticky;
  top: 0;
  background-color: #ff8d6bff;
  height: 44px;
}
table thead th {
  font-family: "bold", sans-serif;
  padding: 10px;
  color: #fff;
}
table tbody td {
  padding: 10px;
  border-bottom: 1px solid #5c6672ff;
  font-family: "montserat", sans-serif;
  font-size: 14px;
}
table tbody .orderID {
  font-family: "bold", sans-serif;
}

footer {
  padding: 1rem;
}
footer h1 {
  font-size: 1.63rem;
  margin: 0rem 0 1rem;
}
footer ul {
  list-style-type: none;
  text-align: center;
}
footer ul li {
  background-color: #fff;
  color: #000000;
  font-family: "bold", sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  letter-spacing: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff8d6b;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8d6b;
}

::-webkit-scrollbar-track {
  background: #dbd6d4;
  margin: 40px 0 0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}