// $coral:#FF8D6B;
// $cultured:#EFEFF1;
// $white:#fff;
// $black:#000000;
// $black2:#070600;
$coral: #ff8d6bff;
$cultured: #efeff1ff;
$outrageousOrange: #ff6c47;
$orangeBs: #ce5d41;
$black: #070600ff;
$citrine: #d8cc34ff;
$black-coral: #5c6672ff;
$white: #fff;
@import "../pages/Order/style/order.scss";
@font-face {
  font-family: "montserat";
  src: url("../assets/Montserrat-Regular.otf");
}

@font-face {
  font-family: "bold";
  src: url("../assets/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: "nimbus";
  src: url("../assets/NimbusSanL-Reg.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserat", sans-serif;
  display: flex;
  height: 100vh;
  background-color: $white;
  user-select: none;
  // overflow: hidden;
}
header,
footer {
  background-color: $cultured;
}
header,
footer {
  height: 100vh;
}
header {
  flex-basis: 10%;
}
footer {
  flex-basis: 20%;
}
main {
  flex-basis: 70%;
  margin: 1.63rem 1rem 0;
}
img {
  width: 100%;
  height: auto;
}
header {
  padding: 1.63rem 1.63rem 0;
}
.d-flex {
  display: flex;
}
.d-flexi {
  display: flex !important;
}
.justify-content-sp {
  justify-content: space-between;
}
.col {
  flex-direction: column;
}
.br-t-l {
  border-top-left-radius: 10px;
}
.br-t-r {
  border-top-right-radius: 10px;
}
.v-center {
  align-items: center;
}
.col-3 {
  grid-template-columns: repeat(2, minmax(10px, 1fr)) !important;
}
.border-focus {
  border: 1px solid #ff8d6bff;
  border-color: #ff8d6bff;
}
.decorations {
  align-items: center;
  .icon {
    width: 150px;
    margin-block: 1.5rem;
  }
  .meal {
    width: 100px;
  }
}
ul {
  list-style-type: none;
}
.print {
  display: none;
}
.no-print {
  display: block;
}
.no-printf {
  display: flex;
}
.tabs {
  ul {
    text-align: center;
    li {
      background-color: $white;
      border-radius: 10px;
      width: 65px;
      margin: 0 auto;

      a {
        display: block;
        padding: 0.5rem;
        font-family: "bold", sans-serif;
        color: $black;
        img {
          max-width: 45px;
        }
      }
    }
    .activeLink {
      box-shadow: rgba(255, 98, 67, 0.4) 0px 0px 0px 2px,
        rgba(255, 98, 67, 0.65) 0px 4px 6px -1px,
        rgba(255, 98, 67, 0.08) 0px 1px 0px inset;
    }
  }
}
.tabs {
  ul {
    li + li {
      margin-top: 1.63rem;
    }
  }
}
.active {
  background-color: $coral !important;
}
.active {
  a {
    color: $white !important;
  }
}

main {
  h1 {
    margin-bottom: 1rem;
  }
  .homeTable {
    height: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: auto;
    ::-webkit-scrollbar-track {
      margin: 40px 0 0;
    }
  }
}

.tfoot {
  background-color: $cultured;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 99%;

  tr {
    // border-top: 1px solid $black-coral;
    td {
      border: 0;
      padding: 10px;
      font-family: "bold", sans-serif;
    }
    .totalfoot {
      border-bottom-left-radius: 10px;
    }
    .total {
      border-bottom-right-radius: 10px;
    }
  }
}
table {
  border-collapse: collapse;
  text-align: left;
  border-spacing: 0;
  width: 100%;

  tr {
    height: 40px;
  }
  thead {
    position: sticky;
    top: 0;
    background-color: $coral;
    height: 44px;

    th {
      font-family: "bold", sans-serif;
      padding: 10px;
      color: $white;
    }
  }
  tbody {
    tr:nth-child(odd) {
      background-color: $cultured;
    }
    // tr:nth-child(even) {
    //   background-color: $black-coral;
    //   color: $white;
    // }
    td {
      padding: 10px;
      border-bottom: 1px solid $black-coral;
      font-family: "montserat", sans-serif;
      font-size: 14px;
    }
    .orderID {
      font-family: "bold", sans-serif;
    }
  }
}

footer {
  padding: 1.63rem 1rem;
  h1 {
    font-size: 1.63rem;
    margin: 0rem 0 1rem;
  }

  ul {
    list-style-type: none;
    text-align: center;
    height: 70vh;
    overflow: auto;
    li {
      background-color: $white;
      color: #000000;
      font-family: "bold", sans-serif;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      letter-spacing: 3px;
      cursor: pointer;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }
    li + li {
      margin-top: 10px;
    }
  }

  .printBtns {
    display: none;
    justify-content: space-between;
    margin: 1rem 0 0;
  }
  .btn {
    @include buttonCss;
  }
  .printBtn {
    padding: 0.75rem 1.5rem;
    background-color: $outrageousOrange;
    color: $white;
    &:hover {
      background-color: $orangeBs;
    }
    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    &:focus-visible {
      box-shadow: none;
    }
  }
  .enterBtn {
    &:hover {
      background-color: #f9fafb;
    }
    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    &:focus-visible {
      box-shadow: none;
    }
  }
}

.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #5c66727d;
  justify-content: center;
  .modal-wrap {
    position: relative;
    background-color: $cultured;
    width: 350px;
    height: 150px;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .btn {
      background-color: #ffffff;
      border: 0;
      border-radius: 0.5rem;
      box-sizing: border-box;
      color: #111827;
      font-family: "nimbus", sans-serif;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.25rem;
      padding: 0.75rem 1rem;
      text-align: center;
      text-decoration: none #d1d5db solid;
      text-decoration-thickness: auto;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    .updateBtn {
      background-color: $outrageousOrange;
      color: $white;
      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      &:focus-visible {
        box-shadow: none;
      }
      &:hover {
        background-color: $orangeBs;
      }
    }
    .printBtn {
    }
    .closeBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      img {
        width: 45px;
      }
    }
  }
}
.billInvoice {
  display: none;
  .orderTitle {
    align-items: center;
    margin-bottom: 1rem;
    h1 {
      font-family: "bold", sans-serif;
      margin: 0 1rem;
    }
    .backBtn {
      background-color: $coral;
      border-radius: 15px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
      border: 0;
    }
  }
  .receipt-container {
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    // height: 500px;
  }
  .receipt {
    margin: auto;
    background-color: $white;
    text-align: center;
    width: 315px;
    img {
      max-width: 170px;
      margin-bottom: 1rem;
    }
    .printInfo {
      padding: 8px 11px;
    }
    .houseInfo {
      padding: 8px 11px;
      text-align: left;
      h5 + h5 {
        margin-top: 10px;
      }
    }
    table {
      .invoice {
        tr:nth-child(odd) {
          background-color: unset;
        }
      }
    }
    .tfoot {
      width: 100%;
      td {
        border-top: none;
      }
    }
  }
  .npreceipt {
    width: 100%;
    .invoicetable {
      height: 60vh;
      overflow: auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .invoice {
      // height: 350px;
      // overflow: auto;
    }
    .invoiceTfoot {
      .cashrcvd {
        border-left: 1px solid #ff8d6b;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ff8d6b;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff8d6b;
}
::-webkit-scrollbar-track {
  background: #dbd6d4;
  margin: 40px 0 0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

@media print {
  .no-print {
    display: none;
  }
  .print {
    display: block;
  }
  .receipt {
    // display: flex;
    // opacity: 1;
  }
  html {
    width: 315px;
  }
  body {
    width: 315px;
  }
  .no-printf {
    display: none;
  }
}
