@font-face {
  font-family: "montserat";
  src: url("../../../assets/Montserrat-Regular.otf");
}
main,
footer,
header {
  transition: flex-basis 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

main {
  margin: 0px 1rem 0;
  flex-basis: 100%;
}
main .restaurantMenu {
  transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .restaurantMenu img {
  max-width: 50px;
}
main .restaurantMenu div {
  flex-basis: 60%;
}
main .restaurantMenu .logo {
  max-width: 160px;
}

.categories h1 {
  margin-bottom: 15px;
  font-family: "bold", sans-serif;
}
.categories ul {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}
.categories ul li {
  flex-basis: 22%;
  align-items: center;
  background-color: #fff;
  transition: background 0.2s ease-in, color 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  font-size: 1.2rem;
}
.categories ul li img {
  padding: 1rem;
  max-width: 80px;
}
.categories ul li h5 {
  font-family: "bold", sans-serif;
}
.categories ul .active {
  color: #fff;
}

.active {
  color: #000000;
}

.menu {
  height: 80vh;
  overflow-y: auto;
}
.menu h1 {
  margin: 2rem 0 1rem;
  font-family: "bold", sans-serif;
}
.menu .menuGrid {
  display: grid;
  grid-auto-rows: 13vh;
  gap: 1em 1.5em;
  overflow-y: auto;
  padding: 6px 1rem 6px 0.2rem;
}
.menu .menuGrid .item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(141, 67, 67, 0.24) 0px 3px 8px;
  align-items: center;
  justify-content: space-between;
}
.menu .menuGrid .item img {
  max-width: 50px;
  margin: 0 0.5rem;
}
.menu .menuGrid .item h5,
.menu .menuGrid .item span,
.menu .menuGrid .item p {
  font-family: "montserat";
}
.menu .menuGrid .item h6 {
  font-size: 15px;
  font-family: "bold";
}
.menu .menuGrid .item h6 span {
  font-family: "montserat";
  font-size: 14px;
}
.menu .menuGrid .item p {
  font-size: 13px;
}
.menu .menuGrid .item .ename {
  display: none;
}

li,
.addIcon {
  cursor: pointer;
}

.addIcon {
  padding: 0 !important;
  width: 50px;
  border: 2px solid transparent;
}

.addIcon:hover {
  border: 2px solid #7c7c8d;
  border-radius: 8px;
}

#menu1,
#menu2,
#menu3,
#menu4 {
  display: none;
}

footer {
  padding: 0.5rem 0.5rem 0;
  flex-basis: 40%;
  justify-content: space-between;
  display: none;
}
footer .footerCss {
  flex-basis: 30%;
  padding: 0 1rem;
}
footer h1 {
  text-align: center;
  font-family: "bold", sans-serif;
}
footer .order,
footer .receipt {
  flex-basis: 48%;
}
footer .orderContainer {
  height: 55vh;
  overflow-y: auto;
  padding: 0 1rem;
}
footer .orderContainer .qty {
  border: 2px solid transparent;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
footer .orderContainer .edit {
  border: 2px solid #ff6c47;
}
footer .orderContainer .orderItem {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}
footer .orderContainer .orderItem .orderName {
  justify-content: space-between;
  align-items: center;
}
footer .orderContainer .orderItem .orderName h5 {
  font-size: 14px;
  font-family: "montserat", sans-serif;
}
footer .orderContainer .orderItem .orderName img {
  max-width: 35px;
  cursor: pointer;
}
footer .orderContainer .orderItem .orderPrice {
  margin-top: 15px;
  justify-content: space-between;
}
footer .orderContainer .orderItem .orderPrice img {
  max-width: 24px;
  cursor: pointer;
}
footer .orderContainer .orderItem .orderPrice .count p {
  font-family: "nimbus", sans-serif;
  background-color: #fff;
  color: #000000;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 0 2px;
  font-weight: 800;
}
footer .orderContainer .orderItem .orderPrice .calculation {
  justify-content: space-between;
  flex-basis: 80%;
  align-items: center;
}
footer .orderContainer .orderItem .orderPrice .calculation .price {
  font-family: "bold", sans-serif;
  word-spacing: 3px;
}
footer .orderContainer .orderItem .orderPrice .calculation .total {
  font-family: "nimbus", sans-serif;
  border-radius: 5px;
  background-color: #ff6c47;
  color: #fff;
  padding: 3px 10px;
  font-weight: 800;
}
footer .receipt h2 {
  text-align: center;
}
footer .receipt h2,
footer .receipt h5 {
  font-family: "bold", sans-serif;
}
footer .receipt h5 {
  font-size: 1rem;
}
footer .receipt .container {
  margin-top: 1rem;
}
footer .receipt .container div + div {
  margin-top: 1rem;
}
footer .receipt .container p {
  font-family: "montserat", sans-serif;
}
footer .receipt .container .orderBtns {
  flex-wrap: wrap;
  gap: 10px;
}
footer .receipt .container .cancel,
footer .receipt .container .orderNow,
footer .receipt .container .reserveTable {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "nimbus", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}
footer .receipt .container .cancel:hover {
  background-color: #f9fafb;
}
footer .receipt .container .cancel:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
footer .receipt .container .cancel:focus-visible {
  box-shadow: none;
}
footer .receipt .container .orderNow:focus,
footer .receipt .container .reserveTable:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
footer .receipt .container .orderNow:focus-visible {
  box-shadow: none;
}
footer .receipt .container .orderNow:hover,
footer .receipt .container .reserveTable:hover {
  background-color: #ce5d41;
}
footer .receipt .container .orderNow,
footer .receipt .container .reserveTable {
  background-color: #ff6c47;
  color: #fff;
}
footer .receipt .container .reserveTable {
  display: none;
}
footer .numPad {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 10rem));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  padding: 0.2rem 1rem 0;
  border-radius: 10px;
  text-align: center;
}
footer .numPad .btn {
  font-family: "nimbus", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  background-color: #ff6c47;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px #ce5d41;
  height: 45px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.orderItem + .orderItem {
  margin-top: 1rem;
}

.tableOrder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 85px;
  gap: 2em 1.5em;
  height: 100%;
  overflow-y: auto;
  padding: 4rem 1rem 0.2rem;
}
.tableOrder .table {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  align-items: center;
  flex-basis: 100%;
  justify-content: space-between;
  padding: 0 13px;
}
.tableOrder .table img {
  padding: 1rem;
  padding-right: 0.5rem;
  max-width: 80px;
}
.tableOrder .table h5 {
  font-family: "montserat", sans-serif;
  font-size: 1.2rem;
}
.tableOrder .table .circle {
  max-width: 80px;
  cursor: pointer;
}
.tableOrder .update {
  background-color: #a5abb280;
}

.regards {
  text-align: center;
  margin: 10px 0;
}

@media screen and (min-width: 900px) {
  .menu {
    height: 65vh;
  }

  .menuGrid {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
  }

  footer .orderContainer {
    padding: 0;
  }

  .categories ul li {
    flex-basis: 45%;
  }
}
@media screen and (min-width: 1300px) {
  .menuGrid {
    grid-template-columns: repeat(3, minmax(10px, 1fr));
  }

  .categories ul li {
    flex-basis: 22%;
  }
}
@media screen and (min-width: 1500px) {
  .menuGrid {
    grid-template-columns: repeat(4, minmax(10px, 1fr));
  }
}
@font-face {
  font-family: "montserat";
  src: url("../assets/Montserrat-Regular.otf");
}
@font-face {
  font-family: "ebold";
  src: url("../assets/ebold.otf");
}
@font-face {
  font-family: "eebold";
  src: url("../assets/eebold.otf");
}
@font-face {
  font-family: "Helvetica";
  src: url("../assets/Helvetica.ttf");
}
@font-face {
  font-family: "HelveticaBold";
  src: url("../assets/Helvetica-Bold.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../assets/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: "urdu";
  src: url("../assets/urduFont.ttf");
}
@font-face {
  font-family: "nimbus";
  src: url("../assets/NimbusSanL-Reg.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserat", sans-serif;
  display: flex;
  height: 100vh;
  background-color: #fff;
  user-select: none;
}

.strong {
  font-family: "bold", sans-serif;
}

.modal .btns {
  text-align: center;
}

header,
footer {
  height: 100vh;
  background-color: #efeff1ff;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-family: "bold", sans-serif;
  color: #000000;
}

header {
  flex-basis: 10%;
  padding: 1.63rem 1.63rem 0;
}

.d-flex {
  display: flex;
}

.d-flexi {
  display: flex !important;
}

.justify-content-sp {
  justify-content: space-between;
}

.col {
  flex-direction: column;
}

.br-t-l {
  border-top-left-radius: 10px;
}

.br-t-r {
  border-top-right-radius: 10px;
}

.v-center {
  align-items: center;
}

.col-3 {
  grid-template-columns: repeat(2, minmax(10px, 1fr)) !important;
}

.border-focus {
  border: 1px solid #ff8d6bff;
  border-color: #ff8d6bff;
}

.serviceTax {
  margin-left: 10px;
}

.decorations {
  align-items: center;
}
.decorations .icon {
  width: 150px;
  margin-block: 1.5rem;
}
.decorations .meal {
  width: 100px;
}

.print {
  display: none;
}

.no-print {
  display: block;
}

.no-printf {
  display: flex;
}

.tabs ul {
  list-style-type: none;
  text-align: center;
}
.tabs ul li {
  background-color: #fff;
  border-radius: 10px;
}
.tabs ul li a {
  display: block;
  padding: 0.5rem;
  font-family: "bold", sans-serif;
  color: #000000;
  display: flex;
  align-items: center;
}
.tabs ul li a img {
  max-width: 45px;
  margin-right: 2.5px;
}
.tabs ul li a h5 {
  font-family: "montserat", sans-serif;
}
.tabs ul .activeLink {
  box-shadow: rgba(255, 98, 67, 0.4) 0px 0px 0px 2px, rgba(255, 98, 67, 0.65) 0px 4px 6px -1px, rgba(255, 98, 67, 0.08) 0px 1px 0px inset;
}
.tabs ul li + li {
  margin-top: 1.63rem;
}

.active {
  background-color: #ff8d6bff !important;
}
.active a {
  color: #fff !important;
}

main {
  flex-basis: 70%;
  margin: 1.63rem 1rem 0;
}
main h1 {
  margin-bottom: 1rem;
}
main .homeTable {
  height: 80vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: auto;
}
main .homeTable ::-webkit-scrollbar-track {
  margin: 40px 0 0;
}

.tfoot {
  background-color: #efeff1ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 99%;
}
.tfoot tr td {
  border: 0;
  padding: 10px;
  font-family: "bold", sans-serif;
}
.tfoot tr .totalfoot {
  border-bottom-left-radius: 10px;
}
.tfoot tr .total {
  border-bottom-right-radius: 10px;
}

table {
  border-collapse: collapse;
  text-align: left;
  border-spacing: 0;
  width: 100%;
}
table tr {
  height: 40px;
}
table thead {
  position: sticky;
  top: 0;
  background-color: #ff8d6bff;
  height: 44px;
}
table thead th {
  font-family: "bold", sans-serif;
  padding: 10px;
  color: #fff;
}
table tbody tr:nth-child(odd) {
  background-color: #efeff1ff;
}
table tbody td {
  padding: 10px;
  border-bottom: 1px solid #5c6672ff;
  font-family: "bold", sans-serif;
  font-size: 15px;
}
table tbody .orderID {
  font-family: "bold", sans-serif;
}

footer {
  flex-basis: 20%;
  padding: 1.63rem 1rem;
}
footer h1 {
  font-size: 1.63rem;
  margin: 0rem 0 1rem;
}
footer ul {
  list-style-type: none;
  text-align: center;
  height: 70vh;
  overflow: auto;
}
footer ul li {
  background-color: #fff;
  color: #000000;
  font-family: "bold", sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  letter-spacing: 3px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
footer ul li + li {
  margin-top: 10px;
}
footer .downloadBtn {
  text-align: center;
  margin: 0.5rem 0 0;
}
footer .downloadBtn .startBtn {
  width: 70%;
  transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
footer .downloadBtn .clearBtn {
  font-size: 15px;
  margin-right: 1.5rem;
}
footer .downloadBtn .clearSalesBtn {
  font-size: 15px;
}
footer .printBtns {
  display: none;
  justify-content: space-between;
  margin: 1rem 0 0;
}
footer .btn {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "nimbus", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}
footer .printBtn {
  padding: 0.75rem 1.5rem;
  background-color: #ff6c47;
  color: #fff;
}
footer .printBtn:hover {
  background-color: #ce5d41;
}
footer .printBtn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
footer .printBtn:focus-visible {
  box-shadow: none;
}
footer .enterBtn:hover,
footer .startBtn:hover {
  background-color: #f9fafb;
}
footer .enterBtn:focus,
footer .startBtn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
footer .enterBtn:focus-visible,
footer .startBtn:focus-visible {
  box-shadow: none;
}

.addBorder {
  border: 2px solid #ff6c47;
}

.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #5c66727d;
  justify-content: center;
}
.modal .modal-wrap {
  position: relative;
  background-color: #efeff1ff;
  width: 90%;
  height: 80vh;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal .modal-wrap .btn {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "nimbus", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.modal .modal-wrap .updateBtn {
  background-color: #ff6c47;
  color: #fff;
}
.modal .modal-wrap .updateBtn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.modal .modal-wrap .updateBtn:focus-visible {
  box-shadow: none;
}
.modal .modal-wrap .updateBtn:hover {
  background-color: #ce5d41;
}
.modal .modal-wrap .closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.modal .modal-wrap .closeBtn img {
  width: 45px;
}

.billInvoice {
  display: none;
}
.billInvoice .orderTitle {
  align-items: center;
  margin-bottom: 1rem;
}
.billInvoice .orderTitle h1 {
  font-family: "bold", sans-serif;
  margin: 0 1rem;
}
.billInvoice .orderTitle .backBtn {
  background-color: #ff8d6bff;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.billInvoice .receipt-container {
  align-items: center;
  flex-direction: column;
}
.billInvoice .receipt {
  margin: auto;
  background-color: #fff;
  text-align: center;
  width: 315px;
}
.billInvoice .receipt img {
  max-width: 170px;
  margin-bottom: 1rem;
}
.billInvoice .receipt .printInfo {
  padding: 8px 11px;
  font-family: "bold", sans-serif;
}
.billInvoice .receipt .houseInfo {
  padding: 8px 11px;
  text-align: left;
}
.billInvoice .receipt .houseInfo h5 + h5 {
  margin-top: 10px;
}
.billInvoice .receipt table .invoice tr:nth-child(odd) {
  background-color: unset;
}
.billInvoice .receipt .tfoot {
  width: 100%;
}
.billInvoice .receipt .tfoot td {
  border-top: none;
}
.billInvoice .npreceipt {
  width: 100%;
}
.billInvoice .npreceipt .invoicetable {
  height: 60vh;
  overflow: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.billInvoice .npreceipt .invoiceTfoot .cashrcvd {
  border-left: 1px solid #ff8d6b;
}

.receiptPrint {
  position: absolute;
  margin: auto;
  background-color: #fff;
  text-align: center;
  width: 360px;
  font-size: 12pt !important;
}
.receiptPrint img {
  max-width: 170px;
  margin-bottom: 1rem;
}
.receiptPrint .printInfo {
  padding: 4px;
}
.receiptPrint .houseInfo {
  padding: 8px 11px;
  text-align: left;
}
.receiptPrint .houseInfo h5 + h5 {
  margin-top: 10px;
}
.receiptPrint table {
  border: 1px solid #000000;
}
.receiptPrint table thead {
  background-color: #000000;
  height: 23px !important;
}
.receiptPrint table thead th {
  padding: 3px 0 0 0;
  font-size: 11pt;
}
.receiptPrint table tbody td {
  padding: 3px 0 0 0;
  font-size: 11pt;
  border: none;
}
.receiptPrint table tr {
  height: unset !important;
}
.receiptPrint table .invoice tr {
  background-color: unset;
}
.receiptPrint .tfoot {
  width: 100%;
}
.receiptPrint .tfoot td {
  font-size: 12pt;
  border-top: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff8d6b;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8d6b;
}

::-webkit-scrollbar-track {
  background: #dbd6d4;
  margin: 40px 0 0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

.printClicked {
  width: 320px !important;
  height: 170px !important;
}

.msg {
  text-align: center;
  font-size: 1rem;
  margin: 15px 0;
}

.yesBtn {
  margin-right: 80px;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print {
    display: block;
  }

  html {
    width: 315px;
  }

  body {
    width: 315px;
  }

  .no-printf {
    display: none;
  }
}