$orange: rgb(255, 141, 107);
$orange2: rgb(255, 98, 67);
$outrageousOrange: #ff6c47;
$orangeBs: #ce5d41;
$gray: #efeff1;
$white: #fff;
$black: #000000;
$black2: #1b1a1aa2;
$primary: #11998e;
$secondary: #38ef7d;
$blackCoral: #5c6672;
$blackCoralbs: #5c667259;

@font-face {
  font-family: "montserat";
  src: url("../assets/Montserrat-Regular.otf");
}

@font-face {
  font-family: "bold";
  src: url("../assets/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: "nimbus";
  src: url("../assets/NimbusSanL-Reg.otf");
}
main {
  margin: 1rem 1rem 0;
  flex-basis: 60%;
  .home {
    margin-bottom: 1rem;
  }
  .homeBtn {
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    a {
      img {
        max-width: 50px;
      }
    }
    // &:focus {
    //   outline: 2px solid transparent;
    //   outline-offset: 2px;
    // }
    &:hover {
      // background-color: $orange;
      border: 2px solid $orange2;
      box-shadow: 0px 15px 13px -7px rgba(255, 141, 107, 0.75);
    }
  }
  .orderSelection {
    display: none;
    .orderTitle {
      align-items: center;
      margin-bottom: 1rem;
      h1 {
        font-family: "bold", sans-serif;
        margin: 0 1rem;
      }
      .backBtn {
        background: $orange;
        border-radius: 15px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
      }
    }

    .orderType {
      padding: 10px 0 25px;
      .options {
        align-items: center;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        flex-basis: 100%;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        img {
          padding: 1rem;
          max-width: 100px;
        }
        h5 {
          font-family: "nimbus", sans-serif;
          font-size: 1.2rem;
        }
      }
      .options + .options {
        margin-left: 1.5rem;
      }
      .active {
        background-color: $orange !important;
        color: $white;
      }
    }
    .carOrder {
      display: none;
      padding: 1rem;
      .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 10px;
        width: 50%;
      }

      .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $black2;
        outline: 0;
        font-size: 1.3rem;
        color: $black2;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
          color: transparent;
        }

        &:placeholder-shown ~ .form__label {
          font-size: 1.3rem;
          cursor: text;
          top: 20px;
        }
      }

      .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $black2;
      }

      .form__field:focus {
        ~ .form__label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: $orange;
          font-weight: 700;
        }
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, $orange, $gray);
        border-image-slice: 1;
      }
      /* reset input */
      .form__field {
        &:required,
        &:invalid {
          box-shadow: none;
        }
      }
    }
    .tableOrder {
      display: none;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 85px;
      gap: 2em 1.5em;
      height: 55vh;
      overflow-y: scroll;
      padding: 2rem 1rem 0px 0.2rem;
      .table {
        background-color: $white;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        align-items: center;

        img {
          padding: 1rem;
          padding-right: 0.5rem;
          max-width: 80px;
        }
        h5 {
          font-family: "montserat", sans-serif;
          font-size: 1.2rem;
        }
        .circle {
          max-width: 80px;
          cursor: pointer;
        }
      }
    }
  }
}
.categories {
  h1 {
    margin-bottom: 1.5rem;
    font-family: "bold", sans-serif;
  }

  ul {
    li {
      align-items: center;
      background-color: $white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      flex-basis: 100%;
      border-radius: 5px;
      font-size: 1.2rem;
      img {
        padding: 1rem;
        max-width: 80px;
      }
      h5 {
        font-family: "bold", sans-serif;
      }
    }
    .active {
      color: $white;
    }
  }

  li + li {
    margin-left: 1.5rem;
  }
}
.active {
  color: $black;
}
.menu {
  h1 {
    margin-block: 1rem;
    font-family: "bold", sans-serif;
  }
  .menuGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 85px;
    gap: 2em 1.5em;
    height: 50vh;
    overflow-y: scroll;
    padding: 6px 1rem 6px 0.2rem;
    .item {
      background-color: $white;
      border-radius: 5px;
      box-shadow: rgba(141, 67, 67, 0.24) 0px 3px 8px;
      align-items: center;
      justify-content: space-between;
      img {
        padding: 1rem;
        padding-right: 0.5rem;
        max-width: 66px;
      }

      h6,
      span,
      p {
        font-family: "montserat";
        font-size: 13px;
      }
    }
  }
}

li,
.addIcon {
  cursor: pointer;
}
.addIcon {
  padding: 0 !important;
  width: 40px;
  margin: 1rem;
  border: 2px solid transparent;
}
.addIcon:hover {
  border: 2px solid #7c7c8d;
  border-radius: 8px;
}

#menu1,
#menu2,
#menu3,
#menu4 {
  display: none;
}

footer {
  padding: 0.5rem 0.5rem 0;
  flex-basis: 40%;
  justify-content: space-between;
  h1 {
    text-align: center;

    font-family: "bold", sans-serif;
  }
  .order,
  .receipt {
    flex-basis: 48%;
  }
  .orderContainer {
    max-height: 55vh;
    min-height: 55vh;
    overflow-y: scroll;
    padding: 0 1rem;
    .qty {
      border: 2px solid transparent;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .edit {
      // border: 2px solid #ff6243;
      border: 2px solid #7c7c8d;
    }
    .orderItem {
      border-bottom: 1px solid black;
      padding-bottom: 3px;
      .orderName {
        justify-content: space-between;
        align-items: center;
        h5 {
          font-family: "montserat", sans-serif;
          font-size: 13px;
        }
        img {
          max-width: 35px;
          cursor: pointer;
        }
      }
      .orderPrice {
        margin-top: 15px;
        justify-content: space-between;
        img {
          max-width: 24px;
          cursor: pointer;
        }
        .count {
          p {
            font-family: "nimbus", sans-serif;
            background-color: $outrageousOrange;
            color: $white;
            border-radius: 5px;
            padding: 3px 10px;
            margin: 0 2px;
            font-weight: 800;
          }
        }
        .calculation {
          justify-content: space-between;
          flex-basis: 80%;
          align-items: center;
          .price {
            font-family: "bold", sans-serif;
            word-spacing: 3px;
          }
          .total {
            font-family: "nimbus", sans-serif;
            border-radius: 5px;
            background-color: $outrageousOrange;
            color: $white;
            padding: 3px 10px;
            font-weight: 800;
          }
        }
      }
    }
  }
  .receipt {
    h2 {
      text-align: center;
    }
    h2,
    h5 {
      font-family: "bold", sans-serif;
    }
    h5 {
      font-size: 1rem;
    }
    .container {
      margin-top: 1rem;

      div + div {
        margin-top: 1rem;
      }
      p {
        font-family: "montserat", sans-serif;
      }
      .cancel,
      .orderNow,
      .reserveTable {
        background-color: #ffffff;
        border: 0;
        border-radius: 0.5rem;
        box-sizing: border-box;
        color: #111827;
        font-family: "nimbus", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: 0.75rem 1rem;
        text-align: center;
        text-decoration: none #d1d5db solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .cancel {
        &:hover {
          background-color: #f9fafb;
        }
        &:focus {
          outline: 2px solid transparent;
          outline-offset: 2px;
        }
        &:focus-visible {
          box-shadow: none;
        }
      }

      .orderNow:focus,
      .reserveTable:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      .orderNow:focus-visible {
        box-shadow: none;
      }
      .orderNow:hover,
      .reserveTable:hover {
        background-color: $orangeBs;
      }

      .orderNow,
      .reserveTable {
        background-color: $outrageousOrange;
        color: $white;
      }
      .reserveTable {
        display: none;
      }
    }
  }
  .numPad {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 10rem));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    padding: 0.2rem 1rem 0;
    border-radius: 10px;
    text-align: center;
    .btn {
      font-family: "nimbus", sans-serif;
      color: $white;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      background-color: $outrageousOrange;
      border-radius: 5px;
      box-shadow: 0px 5px 0px 0px $orangeBs;
      height: 45px;
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}

.orderItem + .orderItem {
  margin-top: 1rem;
}
