$orange: #ff8d6b;
$orange2: rgb(255, 98, 67);
$outrageousOrange: #ff6c47;
$orangeBs: #ce5d41;
$gray: #efeff1;
$white: #fff;
$black: #000000;
$black2: #1b1a1aa2;
$primary: #11998e;
$secondary: #38ef7d;
$blackCoral: #5c6672;
$blackCoralbs: #5c667259;

@font-face {
  font-family: "montserat";
  src: url("../../../assets/Montserrat-Regular.otf");
}

@mixin buttonCss {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "nimbus", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  // -webkit-user-select: none;
  touch-action: manipulation;
}
main,
footer,
header {
  transition: flex-basis 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main {
  margin: 0px 1rem 0;
  flex-basis: 100%;
  .restaurantMenu {
    // opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    img {
      max-width: 50px;
    }
    div {
      flex-basis: 60%;
    }
    .logo {
      max-width: 160px;
    }
  }
}
.categories {
  h1 {
    margin-bottom: 15px;
    font-family: "bold", sans-serif;
  }

  ul {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    li {
      flex-basis: 22%;
      align-items: center;
      background-color: $white;
      transition: background 0.2s ease-in, color 0.2s ease-in;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 5px;
      font-size: 1.2rem;
      img {
        padding: 1rem;
        max-width: 80px;
      }
      h5 {
        font-family: "bold", sans-serif;
      }
    }
    .active {
      color: $white;
    }
  }
}
.active {
  color: $black;
}
.menu {
  height: 80vh;
  overflow-y: auto;
  h1 {
    margin: 2rem 0 1rem;
    font-family: "bold", sans-serif;
  }
  .menuGrid {
    display: grid;
    grid-auto-rows: 13vh;
    gap: 1em 1.5em;
    overflow-y: auto;
    padding: 6px 1rem 6px 0.2rem;
    .item {
      background-color: $white;
      border-radius: 5px;
      box-shadow: rgba(141, 67, 67, 0.24) 0px 3px 8px;
      align-items: center;
      justify-content: space-between;

      img {
        max-width: 50px;
        margin: 0 0.5rem;
      }

      h5,
      span,
      p {
        font-family: "montserat";
      }
      h6 {
        font-size: 15px;
        font-family: "bold";
        span {
          font-family: "montserat";
          font-size: 14px;
        }
      }
      p {
        font-size: 13px;
      }
      .ename {
        // opacity: 0;
        display: none;
      }
    }
  }
}

li,
.addIcon {
  cursor: pointer;
}
.addIcon {
  padding: 0 !important;
  width: 50px;
  // margin: 1rem;
  border: 2px solid transparent;
}
.addIcon:hover {
  border: 2px solid #7c7c8d;
  border-radius: 8px;
}

#menu1,
#menu2,
#menu3,
#menu4 {
  display: none;
}

footer {
  padding: 0.5rem 0.5rem 0;
  flex-basis: 40%;
  justify-content: space-between;
  display: none;
  .footerCss {
    flex-basis: 30%;
    padding: 0 1rem;
  }
  h1 {
    text-align: center;

    font-family: "bold", sans-serif;
  }
  .order,
  .receipt {
    flex-basis: 48%;
  }
  .orderContainer {
    height: 55vh;
    overflow-y: auto;
    padding: 0 1rem;
    .qty {
      border: 2px solid transparent;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .edit {
      // border: 2px solid #ff6243;
      border: 2px solid $outrageousOrange;
    }
    .orderItem {
      border-bottom: 1px solid black;
      padding-bottom: 3px;
      .orderName {
        justify-content: space-between;
        align-items: center;
        h5 {
          font-size: 14px;
          font-family: "montserat", sans-serif;
        }
        img {
          max-width: 35px;
          cursor: pointer;
        }
      }
      .orderPrice {
        margin-top: 15px;
        justify-content: space-between;
        img {
          max-width: 24px;
          cursor: pointer;
        }
        .count {
          p {
            font-family: "nimbus", sans-serif;
            background-color: $white;
            color: $black;
            border-radius: 5px;
            padding: 3px 10px;
            margin: 0 2px;
            font-weight: 800;
          }
        }
        .calculation {
          justify-content: space-between;
          flex-basis: 80%;
          align-items: center;
          .price {
            font-family: "bold", sans-serif;
            word-spacing: 3px;
          }
          .total {
            font-family: "nimbus", sans-serif;
            border-radius: 5px;
            background-color: $outrageousOrange;
            color: $white;
            padding: 3px 10px;
            font-weight: 800;
          }
        }
      }
    }
  }
  .receipt {
    h2 {
      text-align: center;
    }
    h2,
    h5 {
      font-family: "bold", sans-serif;
    }
    h5 {
      font-size: 1rem;
    }
    .container {
      margin-top: 1rem;

      div + div {
        margin-top: 1rem;
      }
      p {
        font-family: "montserat", sans-serif;
      }
      .orderBtns {
        flex-wrap: wrap;
        gap: 10px;
      }
      .cancel,
      .orderNow,
      .reserveTable {
        @include buttonCss;
      }

      .cancel {
        &:hover {
          background-color: #f9fafb;
        }
        &:focus {
          outline: 2px solid transparent;
          outline-offset: 2px;
        }
        &:focus-visible {
          box-shadow: none;
        }
      }

      .orderNow:focus,
      .reserveTable:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      .orderNow:focus-visible {
        box-shadow: none;
      }
      .orderNow:hover,
      .reserveTable:hover {
        background-color: $orangeBs;
      }

      .orderNow,
      .reserveTable {
        background-color: $outrageousOrange;
        color: $white;
      }
      .reserveTable {
        display: none;
      }
    }
  }
  .numPad {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 10rem));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    padding: 0.2rem 1rem 0;
    border-radius: 10px;
    text-align: center;
    .btn {
      font-family: "nimbus", sans-serif;
      color: $white;
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      background-color: $outrageousOrange;
      border-radius: 5px;
      box-shadow: 0px 5px 0px 0px $orangeBs;
      height: 45px;
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}

.orderItem + .orderItem {
  margin-top: 1rem;
}
.tableOrder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 85px;
  gap: 2em 1.5em;
  height: 100%;
  overflow-y: auto;
  padding: 4rem 1rem 0.2rem;
  .table {
    background-color: $white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
    align-items: center;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 0 13px;
    img {
      padding: 1rem;
      padding-right: 0.5rem;
      max-width: 80px;
    }
    h5 {
      font-family: "montserat", sans-serif;
      font-size: 1.2rem;
    }
    .circle {
      max-width: 80px;
      cursor: pointer;
    }
  }
  .update {
    background-color: #a5abb280;
    // color: $white;
  }
}
.regards {
  text-align: center;
  margin: 10px 0;
}
@media screen and (min-width: 900px) {
  .menu {
    height: 55vh;
  }
  .menuGrid {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
  }
  footer {
    .orderContainer {
      padding: 0;
    }
  }
  .categories {
    ul {
      li {
        flex-basis: 45%;
      }
    }
  }
}
@media screen and (min-width: 1300px) {
  .menu {
    height: 65vh;
  }
  .menuGrid {
    grid-template-columns: repeat(3, minmax(10px, 1fr));
  }
  .categories {
    ul {
      li {
        flex-basis: 22%;
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .menuGrid {
    grid-template-columns: repeat(4, minmax(10px, 1fr));
  }
}
